/*DEFAULTIEN NOLLAUS*/

*{
    margin: 0;
    border: 0;
    padding: 0;
}

/*********************/

body {
    background-color: #fff;
    width: 1280px;
    margin: 0 auto;
}

header {
    background-color: #1a212b;
}

/*NAVI*/

nav {
    height: 80px;
    padding: 0 15px;
}

nav ul {
    float: right;
}

nav ul li {
    float: left;
    list-style-type: none;
    padding: 0 15px;
    line-height: 80px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

nav img {
    padding: 10px 0;
    margin-left: 10px;
}

/************************/

/*TEKIJAT SIVU*/

#tekijat {
    width: 1180px;
    background: url(img/wallpaper.jpeg);
    padding: 50px;
}

.naama {
    margin: 0 auto;
    width: 200px;
}

