/*DEFAULTIEN NOLLAUS*/

*{
    margin: 0;
    border: 0;
    padding: 0;
}

/*********************/

body {
    background-color: #fff;
    margin: 0 auto;
}

header {
    background-color: #1a212b;
}

/*NAVI*/

nav {
    height: 80px;
    padding: 0 15px;
}

nav ul {
    float: right;
}

nav ul li {
    float: left;
    list-style-type: none;
    padding: 0 15px;
    line-height: 80px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

nav img {
    padding: 10px 0;
    margin-left: 10px;
}

/************************/

/*#content {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 800px;
    height: 600px;
}*/

main {
    background-image: url(img/kartta.png);
    background-repeat: repeat;
}

/*TEKIJAT SIVU*/

#tekijat {
    background: url(img/wallpaper.jpeg);
    padding: 50px;
    height: 1000px;
}

#naama {
    margin: 0 auto;
    width: 200px;
}

/*kääntyminen*/
#naama img {
	-webkit-transform: rotate(0deg) scale(1.4);
	transform: rotate(0deg) scale(1.0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#naama:hover img {
	-webkit-transform: rotate(15deg) scale(1);
	transform: rotate(15deg) scale(1);
}

/*KARTTA*/

#map{
     height: 100%;
    clear: both;

      }

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

/*pop up*/

#joo {
    width: 50%;
    height: 300px;
    margin: 0 auto;
    border: 2px solid #999;
    background-color: #fff;
}



